@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-sans antialiased bg-cozy-cat bg-cover bg-center bg-no-repeat bg-fixed text-cozy-text;
         
    }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #D2B48C; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B4513; 
}


.tagify {
    @apply !border-cozy-brown-light !bg-white rounded-md;
}
.tagify__tag {
    @apply !bg-cozy-purple/80 !text-white; 
}
.tagify__tag > div::before {
    @apply !bg-white/50;
}
.tagify__input {
     @apply !text-cozy-text; 
}
.tagify__dropdown__item {
    @apply hover:!bg-cozy-cream; 
}
.tagify__dropdown__item--active {
    @apply !bg-cozy-brown-light; 
}
.tags-look .tagify__dropdown__item{ 
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC; 
  background: #F3F3F3; 
  margin: .2em;
  font-size: .85em;
  color: black; 
}
.tags-look .tagify__dropdown__item--active{
  @apply !border-cozy-purple; 
}
.tags-look .tagify__dropdown__item:hover{
  @apply !bg-cozy-purple/20 text-black; 
}

@layer base { 
    body.linksaver-bg-image {
        background-image: url('images/snor.gif'); 
        @apply bg-cover bg-center bg-no-repeat bg-fixed;
        @apply bg-gray-700;
    }

     .dark body.linksaver-bg-image {
         @apply bg-gray-900; 
    }
}

.background-overlay {
  @apply fixed inset-0 bg-black/50 z-0;
}
 .dark .background-overlay {
     @apply bg-black/60;
 }

.content-wrapper {
  @apply relative z-10 w-full flex flex-col min-h-screen items-center;
}

@layer components {
    .linksaver-button {
         @apply bg-[#C68EFD] text-white font-semibold transition-colors duration-300;
         @apply hover:bg-[#8F87F1];
    }
    .linksaver-register-button {
        @apply bg-white/15 text-white border border-white/40 transition-colors duration-300;
        @apply hover:bg-white/30;
    }
}

body.guest-layout-background {
    background-image: url('images/award.gif'); 
    background-size:cover;
    background-position:center center; 
    background-repeat:no-repeat; 
    background-attachment: fixed;
    min-height: 100vh; 
}

.dark body.guest-layout-background .guest-form-box {
     background-color: rgba(31, 41, 55, 0.9); 
}
body.guest-layout-background .guest-form-box {
     background-color: #B7B1F2;
}

.guest-form-box input[type="text"],
.guest-form-box input[type="email"],
.guest-form-box input[type="password"],
.guest-form-box input[type="number"]
 {
    background-color: #EABDE6; 
}

.dark .guest-form-box input[type="text"],
.dark .guest-form-box input[type="email"],
.dark .guest-form-box input[type="password"],
.dark .guest-form-box input[type="number"]
{
    background-color: #EABDE6; 
}